footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    gap: 24px;
    background-color: var(--dark-grey);
    font-size: large;
  }

  .social-links {
    display: flex;
    gap: 20px;              /* Espaçamento entre os itens */
    list-style: none;       
    padding: 0;             
    margin: 0;              
  }
  
  .social-links a {
    color: white;          
    text-decoration: none;  
    transition: color 0.3s; 
  }
  
  .social-links a:hover {
    color: #4dabf7;        
    text-decoration: underline; 
  }